<!--Tab Menu-->
<div>
    <mat-tab-group mat-stretch-tabs style="background-color:lightcoral">
        <mat-tab label="Home">
            <app-home></app-home>
        </mat-tab>
        <mat-tab label="History">
            <app-history></app-history>
        </mat-tab>
        <mat-tab label="Register">
            <app-register></app-register>
        </mat-tab>
        <mat-tab label="Change Password">
            <app-changepwd></app-changepwd>
        </mat-tab>
    </mat-tab-group>
</div>